---
import Container from "../shared/Container.astro";
---
<style>
    .video-wrapper {
      position: relative;
      width: 100%;
      padding-top: 177.78%; /* 16:9 aspect ratio (100 / 9 * 16) */
      background: #000; /* Optional: Black background for loading */
      border-radius: 0.5rem; /* To round the corners */
      overflow: hidden;
    }
  
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  
    .mb-6 {
      margin-bottom: 1.5rem;
    }
</style>
  
<section id="about-us">
    <!-- Long Form Content Section -->
    <div id="landscape-videos" class="mb-12">
        <Container className="flex flex-col gap-10">
            <h2 class="text-xl lg:text-2xl font-bold text-center text-white">Long Form Content</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <!-- Landscape Video 1 -->
                <div class="w-full h-64 relative mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">Podcast Edit</h3>
                    <iframe
                        class="w-full h-full object-cover rounded-lg"
                        src="https://www.youtube.com/embed/O3qSwpE66CU"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <!-- Landscape Video 2 -->
                <div class="w-full h-64 relative mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">YouTube Long form</h3>
                    <iframe
                        class="w-full h-full object-cover rounded-lg"
                        src="https://www.youtube.com/embed/yyvWWlj0w-k"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <!-- Landscape Video 3 -->
                <div class="w-full h-64 relative mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">Animated Explainer Videos</h3>
                    <iframe
                        class="w-full h-full object-cover rounded-lg"
                        src="https://www.youtube.com/embed/rcj9Y9PUDUY"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <!-- Landscape Video 4 -->
                <div class="w-full h-64 relative mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">YouTube Ads</h3>
                    <iframe
                        class="w-full h-full object-cover rounded-lg"
                        src="https://www.youtube.com/embed/XeAYKvd1-Vs"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>

            <!-- Centered Landscape Video 5 (New) -->
            <div class="w-full h-64 relative mb-6 flex justify-center">
                <div class="w-full sm:w-2/3 lg:w-1/2">
                    <h3 class="text-center text-lg font-bold text-white mb-2">Corporate Showcase</h3>
                    <iframe
                        class="w-full h-full object-cover rounded-lg"
                        src="https://www.youtube.com/embed/wyU5YToKCg4"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </Container>
    </div>

    

    <!-- Short Form Content Section -->
    <div id="portrait-videos">
        <Container className="flex flex-col gap-10">
            <h2 class="text-xl lg:text-2xl font-bold text-center text-white">Short Form Content</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- Portrait Video 1 -->
                <div class="w-full mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">Podcast Shorts</h3>
                    <div class="video-wrapper">
                        <iframe
                            src="https://www.youtube.com/embed/gSU9EbiGIi8?feature=share"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <!-- Portrait Video 2 -->
                <div class="w-full mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">IG/FB Ads</h3>
                    <div class="video-wrapper">
                        <iframe
                            src="https://www.youtube.com/embed/Daj_gmyirgI?feature=share"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <!-- Portrait Video 3 -->
                <div class="w-full mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">Shorts/Reels Edits</h3>
                    <div class="video-wrapper">
                        <iframe
                            src="https://www.youtube.com/embed/2U9W5BhypXk?feature=share"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <!-- Portrait Video 4 -->
                <div class="w-full mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">Animated Shorts/Reels Edits</h3>
                    <div class="video-wrapper">
                        <iframe
                            src="https://www.youtube.com/embed/oLAi3KHZUqg"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <!-- Portrait Video 5 -->
                <div class="w-full mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">Animated Shorts/Reels Edits</h3>
                    <div class="video-wrapper">
                        <iframe
                            src="https://www.youtube.com/embed/U43B0uLyH_s?feature=share"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <!-- Portrait Video 6 -->
                <div class="w-full mb-6">
                    <h3 class="text-center text-lg font-bold text-white mb-2">YouTube/IG Ads</h3>
                    <div class="video-wrapper">
                        <iframe
                            src="https://www.youtube.com/embed/8ALNB29Zsv0?feature=share"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </Container>
    </div>
    </section>
