---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Our Clients Speak for our Success
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://varnabyvarsha.com/cdn/shop/files/logo.png?v=1702391124&width=200" width="200" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-110">
            </div> -->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/varsha_site.png" width="200" height="60" alt="spotify" class="w-auto ease-linear duration-300 group-hover:scale-110">
            </div>
            <span class="text-white">www.varnabyvarsha.com</span>
        </div>
    </Container>
</section>